body 
{
    background: #03051d;  /* fallback for old browsers */
    display: block;
    background-image: url('../images/homebackground.jpg');
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.HomePage-Container
{
    display: flex;
	flex-direction: row;
	padding-top: 9.5%;
    justify-content: center;
}

.card 
{
    height: 100%;
}

.card-img-top 
{
    flex:2;
}

.card-body 
{
    flex: none;
}

.main-title {
    margin: auto;
    margin-top: 12%;
    margin-right: 50%;
}

.main-title-h1 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    animation: 1.5s ease-out 0s 1 slideOnStartLeft;


}

.main-title-h2{
    color: white;
    text-align: center;
    animation: 1.5s ease-out 0s 1 slideOnStartLeft;

}

.main-title-quantity-column {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.main-title-quantity-row {
    margin: auto;
    margin-top: 7%;
    width: 80%;

}

.main-title-quantity {
    text-align: center;
    color: white;
}

.home-shopnow-btn {
    float: right;
    margin-right: 0% !important;
    margin-top: 5%;
    animation: 1.5s ease-out 0s 1 slideOnStartLeft;

}

.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(132,0,255,1) 0%, rgba(38,0,255,1) 100%);
    width: 220px !important;
    height: 50px !important;
    border-radius: 30px !important;
    border-width: 0px !important;
}

.navbar-btn { 
    color: white;
    margin: 20px;

}
.navbar-btn:hover { 
    color: #71e6ff; 
    text-decoration: none;
}

.topmenu {
    margin-right: 5%;
}





@keyframes slideOnStartLeft {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}