.store-container {
    display: flex;
    flex: 1;
    background-color: #fff;
    width: 100%;
    min-height: 10vh;
    flex-direction: column;
}

.category-nav-bar-container {
    width: 100%;
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.store-search-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.category-nav-bar-link {
    margin: 1%;
    color: black;
    text-decoration: none;
}

a { color: black; text-decoration: none;} /* CSS link color (red) */
a:hover { color: #0066bf; text-decoration: none;} /* CSS link hover (green) */


/* --------------- BEST SELLER --------------- */

.best-seller-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 2px solid lightgray;
    padding: 0% 2%;
    border-left: 0px;
    border-right: 0px;
    margin: 0% 0% 1% 0%;
}

.best-seller-col {
    height: 350px;
    overflow:hidden;
    margin: 1%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition : all 200ms linear;
    -webkit-transition : all 200ms linear;
}
.best-seller-col:hover {
    transform: scale(1.1);
}
.bestseller-img {
    object-fit: contain;
    height: 70%;
    width: 100%;
    margin-bottom: 15px;
}
.bestseller-title-product {
    font-size: 18px;
    text-align: center;
}
.bestseller-title {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 4%;
}
.bestseller-price {
    color: #2a53bd;
    margin-bottom: 0%;
}


/* --------------- Featured Products --------------- */


.featured-products-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0% 2%;
    margin: 0% 0% 2% 0%;
}
.featured-products {
    border: 2px solid lightgray;
    border-left: 0px;
    border-right: 0px;
}
.featured-products-col {
    height: 350px;
    overflow:hidden;
    margin: 1%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition : all 200ms linear;
    -webkit-transition : all 200ms linear;
}
.featured-products-col:hover {
    transform: scale(1.1);
}
.featured-products-img {
    object-fit: contain;
    height: 70%;
    width: 100%;
    margin-bottom: 15px;
}
.featured-products-title-product {
    font-size: 18px;
    text-align: center;
}
.featured-products-title {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 4%;
}
.featured-products-price {
    color: #2a53bd;
    margin-bottom: 0%;
}
.showmore-title {
    color: black;
    font-size: 16px;
    margin: 2%;
}